<%= render "shared/page_title", title: "Staff Index" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Computers", computers_path %>
  </li>
  <li class="active">
    <%= link_to "Staff", staffs_path %>
  </li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= will_paginate %>
  </div>
</div>

<% @staffs.each do |staff| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 left">
      <p>
        <h5><strong><%= link_to staff.staff_name, staff_path(staff) %></strong>, contact at <%= staff.staff_email %>, department of <%= render staff.types %></h5> 
      </p>
    </div>
  </div>
<% end %>

<!-- To come back to, as currently a department title is generated for each staff member -->