<%= render "shared/page_title", title: @staff.staff_name %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Email</th>
          <th>Department/s</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @staff.staff_email %></td>
            <td><%= render @staff.types %></td>
            <td><%= @staff.created_at.strftime("%d/%m/%y") %></td>
            <td><%= @staff.updated_at.strftime("%d/%m/%y") %></td>
            <td><%= @staff.admin %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <% if logged_in? and current_user.admin? %>
      <%= link_to "Edit Staff Member", edit_staff_path, class: "btn btn-success" %>
      <%= link_to "Delete Staff Member", @staff, method: :delete, data: {confirm: "Delete this staff member's details?" }, class: "btn btn-danger" %>
    <% end %>
    <!-- Include Gravitar / avatar / photo if wanted -->
  </div> 
</div>

<hr>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3>Wiped Computers:</h3>
    <%= will_paginate @wipes %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>TuringTrack</th>
          <th>Wiped</th>
          <th>Wiping ID</th>
          <th>Wiped by</th>
          <th>Wiping Date</th>
          <th>Date Last Edited </th>
          <th>Hub ID</th>
          <th>Action Taken:</th>
        </tr>
      </thead>
      <tbody>
        
        <% @wipes.each do |wipe| %>
          <tr>
            <td><%= link_to "#" + wipe.computer.turingtrack, computer_path(wipe.computer) %></td>
            <td><% if wipe.action_taken.length > 0 %> Yes <% else %> No <% end %></td>
            <td><%= "#" + wipe.id.to_s %></td>
            <td><%= link_to wipe.staff.staff_name, staff_path(wipe.staff) %></td>
            <td><%= wipe.created_at.strftime("%d/%m/%y") %></td>
            <td><%= wipe.updated_at.strftime("%d/%m/%y") %></td>
            <td><%= link_to wipe.computer.hub.id, hub_path(wipe.computer.hub) %></td>
            <td><%= wipe.action_taken %></td>
          </tr>
        <% end%>
        
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3>Shipped Computers:</h3>
    <%= will_paginate @shipments %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>TuringTrack</th>
          <th>Shipped</th>
          <th>Shipping ID</th>
          <th>Shipped by</th>
          <th>Shipping Date</th>
          <th>Date Last Edited </th>
        </tr>
      </thead>
      <tbody>
        
        <% @shipments.each do |shipment| %>
          <tr>
            <td><%= link_to "#" + shipment.computer.turingtrack, computer_path(shipment.computer) %></td>
            <td><% if shipment.shipped %> Yes <% else %> No <% end %></td>
            <td><%= "#" + shipment.id.to_s %></td>
            <td><%= link_to shipment.staff.staff_name, staff_path(shipment.staff) %></td>
            <td><%= shipment.created_at.strftime("%d/%m/%y") %></td>
            <td><%= shipment.updated_at.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3>Received Computers:</h3>
    <%= will_paginate @receipts %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>TuringTrack</th>
          <th>Received</th>
          <th>Receipt ID</th>
          <th>Received by</th>
          <th>School</th>
          <th>Receipt Date</th>
          <th>Date Last Edited </th>
        </tr>
      </thead>
      <tbody>
        
        <% @receipts.each do |receipt| %>
          <tr>
            <td><%= link_to "#" + receipt.computer.turingtrack, computer_path(receipt.computer) %></td>
            <td><% if receipt.received %> Yes <% else %> No <% end %></td>
            <td><%= "#" + receipt.id.to_s %></td>
            <td><%= link_to receipt.staff.staff_name, staff_path(receipt.staff) %></td>
            <td><%= receipt.school %></td>
            <td><%= receipt.created_at.strftime("%d/%m/%y") %></td>
            <td><%= receipt.updated_at.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3>Decommissioned Computers:</h3>
    <%= will_paginate @decommissions %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>TuringTrack</th>
          <th>Decommissioned</th>
          <th>Decommission ID</th>
          <th>Decommissioned by</th>
          <th>Decommission Date</th>
          <th>Date Last Edited </th>
        </tr>
      </thead>
      <tbody>
        
        <% @decommissions.each do |decommission| %>
          <tr>
            <td><%= link_to "#" + decommission.computer.turingtrack, computer_path(decommission.computer) %></td>
            <td><% if decommission.decommissioned %> Yes <% else %> No <% end %></td>
            <td><%= "#" + decommission.id.to_s %></td>
            <td><%= link_to decommission.staff.staff_name, staff_path(decommission.staff) %></td>
            <td><%= decommission.created_at.strftime("%d/%m/%y") %></td>
            <td><%= decommission.updated_at.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      
      </tbody>
    </table>
  </div>
</div>