<%= render "shared/errors", obj: @donor %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2 form-group">
    <%= form_for @donor do |f| %>
    
      <%= f.label :donor_name %>
      <%= f.text_field :donor_name %>
    
      <%= f.label :donor_email %>
      <%= f.email_field :donor_email %>
    
      <h4>Would you like to join our mailing list? Tick the box below to get updates on how The Turing Trust
      is supporting education in Ghana. We promise not to pass your details on to any 3rd parties! </h4>

      <%= f.label :allow_mail, class: "checkbox pull-left" do %> 
        <p class="pull-left">Update me!</p>
        <%= f.check_box :allow_mail %>
      <% end %>
      <br><br>
      
      <h4>
        Please check the following if you do not have an email address, and would rather receive a paper certificate
        of data destruction. We encourage you to only do this if an email really won’t suffice, as keeping postage to 
        a minimum allows us to keep overheads to a minimum, helping us support more students in rural areas of Ghana.
      </h4>
      
      <%= f.label :paper_cert, class: "checkbox pull-left" do %> 
        <p class="pull-left">Send me a paper certificate of destruction</p>
        <%= f.check_box :paper_cert %>
      <% end %>
      <br><br><br>
            
      <%= f.label :donor_address %>
      <%= f.text_field :donor_address %>
    
      <%= f.submit(@donor.new_record? ? "Submit Donor Details" : "Submit Edited Donor Details", class: "btn btn-success")%>

    <% end %>
  </div>
</div>