<%= render "shared/page_title", title: "Donor Index" %>

<% @donors.each do |donor| %>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>
        #<%= donor.id %> - <%= link_to donor.donor_name, donor_path(donor) %>, 
        Email: <%= donor.donor_email %>,
        Mailing List: <%= donor.allow_mail %>,
        <% if donor.donor_address.length > 0 %>
          Address: <%= donor.donor_address %>, 
          Send Paper Certificate: <%= donor.paper_cert %>
        <% end %>
      </p>
      
    </div>
  </div>

<% end %>