<%= render "shared/page_title", title: "Donor Index" %>
  
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Donor ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mailing List</th>
          <th>Paper Certificate</th>
          <th>Created At</th>
          <th>Updated At</th>
         </tr>
      </thead>
      <tbody>
        <% @donors.each do |donor| %>
          <tr>
            <td><%= "#" + donor.id.to_s %></td>
            <td><%= link_to donor.donor_name, donor_path(donor) %></td>
            <td><%= donor.donor_email %></td>
            <td><%= donor.allow_mail %></td>
            <td><%= donor.paper_cert %></td>
            <td><%= donor.created_at.strftime("%d/%m/%y") %></td>
            <td><%= donor.updated_at.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="center"><%= will_paginate %></div>
  </div>
</div>