<%= render "shared/errors", obj: @status %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2 form-group">
    <%= form_for @status do |f| %>
    
      <% if @status.new_record? %>
        <%= f.label :entertrack, "TuringTrack" %>
        <%= f.number_field :entertrack, :placeholder => 10000001 %>
      <% else %>
        <h3><%= "TuringTrack: #" + @status.computer.turingtrack %></h3><br>
      <% end %>
      
      <%= f.label :scrapped, class: "checkbox" do %>
        Confirm the computer has been scrapped?
        <%= f.check_box :scrapped %>
      <% end %>
      
      
      <%= f.label :sold, class: "checkbox" do %>
        <span>Confirm the computer has been sold?</span>
        <%= f.check_box :sold %>
      <% end %><br>
       
      <%= f.submit(@status.new_record? ? "Submit Confirmation" : "Update Confirmation", class: "btn btn-success")%>

    <% end %>
  </div>
</div>