<%= render "shared/errors", obj: @computer %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@computer, html: { multipart: true }) do |f| %>
    
      <% if logged_in? %>
        <h3>Computer Details</h3><br>
      <% else %>
        <h3>Your Computer's Details</h3><br>
      <% end %>
      
      <p class = "donation_advice"><small>
        Please note that all greyed out writing is for exemplary purposes only - simply type over the top.
      </small></p>
    
      <%= f.label :manufacturer %>
      <%= f.text_field :manufacturer, :placeholder => "Toshiba" %>
      <%= f.label :computer_type, "Computer Type" %>
      <%= f.text_field :computer_type, :placeholder => "Laptop"%>
      <%= f.label :specification, "Specification (if known)" %> <!-- rows: 3 -->
      <%= f.text_area :specification, :placeholder => "Intel Celeron 1.1GHz, 256MB RAM 20GB HDD" %>
      <%= f.label :model_no, "Model No." %>
      <%= f.text_field :model_no, :placeholder => "Satellite S1800-712" %>
      <%= f.label :serial_no, "Serial No." %>
      <%= f.text_field :serial_no, :placeholder => "43564391D" %>
      <%= f.label :product_key, "OS Product Key" %>
      <%= f.text_field :product_key, :placeholder => "Windows XP Professional QD464-ASF5F-VCF45-BV334-23DFS"%>
      
      <!-- Original picture uploader (to internal storage) now replaced with Dropbox
      <#% if logged_in? %>
        <span class="picture"> -->
          <!-- Creates file field and whitelist -->
          <%#= f.label "Picture (optional)" %>
          <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <!-- </span> -->
      <%# end %>
      
      <% if logged_in? %>
        <br><h3>Wiping Details<br><br></h3>
        <%= f.fields_for :wipe do |wipe_form| %>
          <%= wipe_form.label :action_taken %>
          <%= wipe_form.text_field :action_taken, :placeholder => "Wiped using Paragon Hard Disk Manger Version 15" %>
        <% end %>
      <% end %>
      
      <% if logged_in? %>
        <br><h3>Donor Details</h3><br>
      <% else %>
        <br><h3>Your Details</h3><br>
      <% end %>
      
      <%= f.fields_for :donor do |donor_form| %>
      
        <% if logged_in? %>
          <%= donor_form.label :donor_name %>
        <% else %>
          <%= donor_form.label :donor_name, "Your Name" %>
        <% end %>
        <%= donor_form.text_field :donor_name, :placeholder => "Mr. John Smith" %>
        <% if logged_in? %>
          <%= donor_form.label :donor_email %>
        <% else %>
          <%= donor_form.label :donor_email, "Your Email Address" %>
        <% end %>
        <%= donor_form.email_field :donor_email, :placeholder => "johnsmith@gmail.com" %>
        <% if logged_in? %>
          <%= donor_form.label :donor_address %>
        <% else %>
          <%= donor_form.label :donor_address, "Your Mailing Address" %>
        <% end %>
          <%= donor_form.text_field :donor_address, :placeholder => "16 Old Compton Street, London, W1D 4TL" %>
        
        <h4>
          Would you like to join our mailing list? Tick the box below to get updates
          on how The Turing Trust is supporting education in Ghana. We promise not to 
          pass your details on to any 3rd parties! 
        </h4>
        
        <%= donor_form.label :allow_mail, class: "checkbox pull-left" do %> 
          <p class="pull-left">Update me!</p>
          <%= donor_form.check_box :allow_mail %>
        <% end %><br><br>
        
        <h4>
          Please check the following if you do not have an email address, and would rather receive a paper certificate
          of data destruction. We encourage you to only do this if an email really won’t suffice, as keeping postage to 
          a minimum allows us to keep overheads to a minimum, helping us support more students in rural areas of Ghana.
        </h4>
        
        <%= donor_form.label :paper_cert, class: "checkbox pull-left" do %> 
          <p class="pull-left">Send me a paper certificate of destruction</p>
          <%= donor_form.check_box :paper_cert, allow_blank: true %>
        <% end %><br>
        
      <% end %>
      
      <br><h3>Hub Details</h3><br>
      
      <% if logged_in? %>
        <%= f.label :hub_id, "Hub" %>
      <% else %>
        <%= f.label :hub_location, "Please select which of our hubs you would like to send your computer to:" %>
      <% end %>
      <%= f.collection_select :hub_id, Hub.all , :id, :hub_location, selected: '1' %> <!-- ,include_blank: true -->
      <br><br>

      <%= f.submit(@computer.new_record? ? "Submit Details" : "Submit Edited Details", class: "btn btn-success") %>
    <% end %>
    
  </div>
</div>

<script type="text/javascript">
  $('#computer_picture').bind('change',function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file');
    }
  });
</script>