<%= render "shared/page_title", title: "Computer Index" %>

<!-- Swtich between staff and computers indexes-->
<% if current_user.admin? %>
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Computers", computers_path %>
    </li>
    <li>
      <%= link_to "Staff", staffs_path %>
    </li>
  </ul><br>
<% end %>

<%= will_paginate %>

<% @computers.each do |computer| %>
  <div class="row">
    
    <!-- LHS block featuring computer lifecycle options --> 
    <div class="col-md-2 col-md-offset-1">
      <h5 class="vcenter center">
        
        <% if computer.status %>
          <% if computer.status.scrapped %>
            <%= link_to "Computer Scrapped", status_path(computer.status) %>
          <% elsif computer.status.sold %>
            <%= link_to "Computer Sold", status_path(computer.status) %>
          <% else %>
            <strong><%= link_to "Assign computer status", status_path(computer.status) %></strong>
          <% end %>
        <% else %>
          <strong><%= link_to "Add a status", new_status_path %></strong>
        <% end %><br><br>
        
        <% if computer.wipe and computer.wipe.action_taken.length > 0 %>
           <%= link_to "Computer Wiped!", computer_path(computer) %>
        <% else %>
          <strong><%= link_to "Wipe this computer!", edit_computer_path(computer) %></strong>
        <% end %><br><br>
        
        <% if computer.shipment and computer.shipment.shipped %>
          <%= link_to "Computer Shipped!", shipment_path(computer.shipment) %>
        <% else %>
          <strong><%= link_to "Ship this computer!", new_shipment_path %></strong>
        <% end %><br><br>
                
        <% if computer.receipt and computer.receipt.received %>
         <%= link_to "Computer Received!", receipt_path(computer.receipt) %>
        <% else %>
          <strong><%= link_to "Confirm this computer's arrival!", new_receipt_path %></strong>
        <% end %><br><br>
        
        <% if computer.decommission and computer.decommission.decommissioned %>
          <%= link_to "Computer Decommissioned!", decommission_path(computer.decommission) %>
        <% else %>
          <strong><%= link_to "Confirm this computer's decommission!", new_decommission_path %></strong>
        <% end %>
        
      </h5>
    </div>
    
    <!-- Central Computer Details Block -->
    <div class="col-md-7 well">
      <h4><%= link_to "Turing Track No #" + computer.turingtrack, computer_path(computer) %></h4>
      <p>
        <%= computer.manufacturer %> <%= computer.computer_type %> donated by <%= computer.donor.donor_name %><br>
        Processing Hub: <%= computer.hub.hub_location %>
      </p>
      
      <% if computer.wipe.present? and computer.wipe.action_taken.length > 0 %>
        <p><%= render computer.wipe %></p>
      <% else %>
      <p> 
        This computer is currently unprocessed. To process this computer, click the 'wipe' link to the LHS.<br>
        If the computer has been scrapped or sold, please assign a status to it.
      </p>
      <% end %>
      
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(computer.created_at) %> ago, </small></span>
        <span class="quiet"><small>updated <%= time_ago_in_words(computer.updated_at) %> ago</small></span>
      </p>
    </div>
   
   <!-- RHS Block -->
    <div class="col-md-2">

    </div>
    
    <!-- Original Non Dropbox Image Thumbnails, Removed to Reduce DB Transfer Useage 
    <div class="col-md-4">
      <#%= image_tag(computer.picture.url, size: "250x150", class: "picture_style") if computer.picture? %>
    </div>-->
    
  </div>
  <hr>
<% end %>

<%= will_paginate %> 