<%= render "shared/page_title", title: "Serial No. " + @computer.serial_no %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <h5>Created by <%= @computer.staff.staff_name %></h5>
    <h5><%= link_to "Back to Staff Page", staff_path(@computer.staff) %></h5>
    <h5><% if logged_in? and current_user.admin? %>
      <%= link_to "[Delete Computer]", @computer, method: :delete, data: {confirm: "Delete this computer's details?" } %>
    <% end %></h5>
    <!-- Include Gravitar / avatar / photo if wanted -->
  </div> 
  
  <div class="col-md-8">
    <h3><%= @computer.manufacturer %> <%= @computer.computer_type %> donated by <%= @computer.donor %></h3>
    <div class="show_computer">
      <%= image_tag(@computer.picture.url, class: "picture_style") if @computer.picture? %>
    </div>
    <div class="well">
      <p>
        <strong>Further Info:</strong>
      </p>
      Manufacturer: <%= @computer.manufacturer %> <br>
      Type of Computer: <%= @computer.computer_type %> <br>
      Model No: <%= @computer.model_no %> <br>
      Serial No: <%= @computer.serial_no %> <br>
      Action Taken: <%= @computer.action_taken %> <br>
      <!--Specification: <%# simple_format(@computer.specification) %> <br>-->
      Specification: <%= @computer.specification %> <br>
      Manufacturer: <%= @computer.manufacturer %> <br>
      Product Key: <%= @computer.product_key %> <br>
      Donor: <%= @computer.donor %> <br>
      Initials: <%= @computer.initials_flag %>

      <% if @computer.wipes.any? %>
        <br><br>
        <p><%= render @computer.wipes %></p>
      <% end %>
      
    </div>
    
      <h5>
        <%= link_to "Return to computer index", computers_path, class: "btn btn-warning btn-small pull-right" %>
        <% if logged_in? and (@computer.staff == current_user || current_user.admin? ) %>
          <%= link_to "Edit these details", edit_computer_path(@computer), class: "btn btn-success pull-left" %>
        <% end %>
      </h5>
      
  </div>
</div>

