<%= render "shared/page_title", title: "Turing Track No. " + @computer.turingtrack %>

<div class="row">
  <div class="col-md-5 pull-right center">
    
    <!-- Original image storage with Carrier Wave saving to server file system
    <div class="show_computer">
      <#%= image_tag(@computer.picture.url, class: "computer_img") if @computer.picture? %>
    </div>
    <div>
      <#%= link_to "View Image", @computer.picture_url , class: "btn btn-primary" if @computer.picture.present?%>
    </div>
    -->
   
    <!-- Dropbox image pull using url -->
    <% if @photo_url.nil? %>
      <div style="margin: 50px">
        <%#= form_tag({:action => :drop_upload}, :multipart => true) do %>
        <%= form_tag({action: :drop_upload}, multipart: true) do %>
          <%= file_field_tag 'file' %><%= submit_tag 'Upload Image To Dropbox' %>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= image_tag @photo_url.inspect.to_s.split()[0].split('"')[3], class: "computer_img" %>
        <div style="margin: 15px">
        <%#= form_tag({:action => :drop_upload}, :multipart => true) do %>
        <%= form_tag({action: :drop_upload}, multipart: true) do %>
          <%= file_field_tag 'file' %><%= submit_tag 'Upload Image To Dropbox' %>
        <% end %>
      </div>
      </div>
    <% end %>
    
    <!-- Dropbox Client Account Information
    <div>
      <%#= @client_account_info %>
    </div> -->
    
  </div> 
  
  <div class="col-md-7">
    <h3>
      <%= @computer.manufacturer %> <%= @computer.computer_type %> donated by 
      <% if current_user.admin? %>
        <%= link_to @computer.donor.donor_name, donor_path(@computer.donor) %>
      <% else %>
        <%= @computer.donor.donor_name %>
      <% end %>
    </h3>
    
    <div class="well">
      <p>
        <strong>Further Info:</strong>
      </p>
      <p>
        Turing Track No: <%= @computer.turingtrack %> <br>
        Manufacturer: <%= @computer.manufacturer %> <br>
        Type of Computer: <%= @computer.computer_type %> <br>
        Model No: <%= @computer.model_no %> <br>
        Serial No: <%= @computer.serial_no %> <br>
        <!--Specification: <%# simple_format(@computer.specification) %> <br>-->
        Specification: <%= @computer.specification %> <br>
        OS Product Key: <%= @computer.product_key %> <br>
        Donor: <%= @computer.donor.donor_name %> <br>
      </p>
      
      <!-- If there is an associated wipe, render wipes/_wipe partial-->
      <p>
        <% if @computer.wipe and @computer.wipe.action_taken.length > 0 %>
          <%= render @computer.wipe %>
        <% end %>
      </p>
      
      <!-- If the computer has been shipped, render shipments/_shipment partial -->
      <p>
        <% if @computer.shipment and @computer.shipment.shipped %>
          <%= render @computer.shipment %>
        <% end %>
      </p>
      
      <!-- If the computer has been received, render shipments/_receipt partial -->
      <p>
        <% if @computer.receipt and @computer.receipt.received %>
          <%= render @computer.receipt %>
        <% end %>
      </p>
        
      <!-- To check that the computer and wipe id's are coming through. Comment out for production -->
        
      Computer ID: <%=  @computer.id %>, 
      <% if @computer.wipe and @computer.wipe.action_taken.length > 0 %>
        Wipe ID: <%= @computer.wipe.id %>, 
        Staff ID: <%= @computer.wipe.staff.id %>, 
      <% end %>
      Donor ID: <%= @computer.donor.id %>
        
      <br><br>Barcode: <%= raw @barcode_for_html.to_html %>
    </div>
    
    <h5>
      <%= link_to "Return to computer index", computers_path, class: "btn btn-warning btn-small pull-right" %>
    
      <% if logged_in? %>
        <%= link_to "Edit these details", edit_computer_path(@computer), class: "btn btn-success" %>
      <% end %>
      
      <% if logged_in? and current_user.admin? %>
        <%= link_to "Delete Computer", @computer, method: :delete, data: {confirm: "Delete this computer's details?" }, class: "btn btn-danger" %>
      <% end %>
    </h5>
      
  </div>
</div>