<%= render "shared/page_title", title: "Turing Track No. " + @computer.turingtrack %>

<div class="row">
  <div class="col-md-5 pull-right center">
    
    <!-- Original image storage with Carrier Wave saving to server file system
    <div class="show_computer">
      <#%= image_tag(@computer.picture.url, class: "computer_img") if @computer.picture? %>
    </div>
    <div>
      <#%= link_to "View Image", @computer.picture_url , class: "btn btn-primary" if @computer.picture.present?%>
    </div>
    -->
   
    <!-- Dropbox image pull using url -->
    <% if @photo_url %>
      <div>
        <%= image_tag @photo_url.inspect.to_s.split()[0].split('"')[3], class: "computer_img" %>
      </div>
    <% end %>
    <div style="margin: 10px">
      <%= form_tag({:action => :drop_upload}, :multipart => true) do %>
        <%= file_field_tag 'file' %><%= submit_tag 'Upload Image' %>
      <% end %>
    </div>
    
  </div> 
  
  <div class="col-md-7">
    <h3>
      <%= @computer.manufacturer %> <%= @computer.computer_type %> donated by 
      <% if current_user.admin? %>
        <%= link_to @computer.donor.donor_name, donor_path(@computer.donor) %>
      <% else %>
        <%= @computer.donor.donor_name %>
      <% end %>
    </h3>
    
    <div class="well">
      <p>
        <strong>Further Info:</strong>
      </p>
      <p>
        Turing Track No: <%= @computer.turingtrack %> <br>
        Manufacturer: <%= @computer.manufacturer %> <br>
        Type of Computer: <%= @computer.computer_type %> <br>
        Model No: <%= @computer.model_no %> <br>
        Serial No: <%= @computer.serial_no %> <br>
        <!--Specification: <%# simple_format(@computer.specification) %> <br>-->
        Specification: <%= @computer.specification %> <br>
        OS Product Key: <%= @computer.product_key %> <br>
        Donor: <%= @computer.donor.donor_name %> <br>
      </p>
      <!-- If there is an associated wipe, render wipes/_wipe partial-->
        <% if @computer.wipe %>
          <%= render @computer.wipe %>
        <% end %>
        
        <!-- To check that the computer and wipe id's are coming through. Comment out for production -->
        
        <br><br>Computer ID: <%=  @computer.id %>
        <% if @computer.wipe %>
          <br>Wipe ID: <%= @computer.wipe.id %>
          <br>Staff ID: <%= @computer.wipe.staff.id %>
        <% end %>
        <br>Donor ID: <%= @computer.donor.id %>
        
        <br><br>Barcode: <%= raw @barcode_for_html.to_html %>
    </div>
    
    <h5>
      <%= link_to "Return to computer index", computers_path, class: "btn btn-warning btn-small pull-right" %>
    
      <% if logged_in? %>
        <%= link_to "Edit these details", edit_computer_path(@computer), class: "btn btn-success" %>
      <% end %>
      
      <% if logged_in? and current_user.admin? %>
        <%= link_to "Delete Computer", @computer, method: :delete, data: {confirm: "Delete this computer's details?" }, class: "btn btn-danger" %>
      <% end %>
    </h5>
      
  </div>
</div>