<%= render "shared/page_title", title: "Turing Track No. #" + @computer.turingtrack %>

<div class="row">
  <div class="col-md-5 pull-right center">
    
    <!-- Original image storage with Carrier Wave saving to server file system
    <div>
      <#%= image_tag(@computer.picture.url, class: "computer_img") if @computer.picture? %>
    </div>
    <div>
      <#%= link_to "View Image", @computer.picture_url , class: "btn btn-primary" if @computer.picture.present?%>
    </div>
    -->
   
    <!-- Dropbox image pull using url -->
    <% if @photo_url.nil? %>
      <div style="margin: 50px">
        <%#= form_tag({:action => :drop_upload}, :multipart => true) do %>
        <%= form_tag({action: :drop_upload}, multipart: true) do %>
          <%= file_field_tag 'file' %><%= submit_tag 'Upload Image To Dropbox' %>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= image_tag @photo_url.inspect.to_s.split()[0].split('"')[3], class: "computer_img" %>
        <div style="margin: 15px">
        <%#= form_tag({:action => :drop_upload}, :multipart => true) do %>
        <%= form_tag({action: :drop_upload}, multipart: true) do %>
          <%= file_field_tag 'file' %><%= submit_tag 'Upload Image To Dropbox' %>
        <% end %>
      </div>
      </div>
    <% end %>
    
    <!-- Dropbox Client Account Information
    <div>
      <%#= @client_account_info %>
    </div> -->
    
  </div> 
  
  <div class="col-md-7">
    <h3>
      <%= @computer.manufacturer %> <%= @computer.computer_type %> donated by 
      <% if current_user.admin? %>
        <%= link_to @computer.donor.donor_name, donor_path(@computer.donor) %>
      <% else %>
        <%= @computer.donor.donor_name %>
      <% end %>
    </h3>
    
    <div class="well">
      <p>
        <strong>Further Info:</strong>
      </p>
      <p>
        Turing Track No: <%= @computer.turingtrack %> <br>
        Processing Hub: <%= link_to @computer.hub.hub_location, hub_path(@computer.hub) %> <br>
        Manufacturer: <%= @computer.manufacturer %> <br>
        Type of Computer: <%= @computer.computer_type %> <br>
        Model No: <%= @computer.model_no %> <br>
        Serial No: <%= @computer.serial_no %> <br>
        <!--Specification: <%# simple_format(@computer.specification) %> <br>-->
        Specification: <%= @computer.specification %> <br>
        OS Product Key: <%= @computer.product_key %> <br>
        Donor: <%= link_to @computer.donor.donor_name, donor_path(@computer.donor) %> <br>
        <% if @computer.donor.paper_cert %><strong> Requires a Paper Certificate of Destruction </strong><br><% end %>
      </p>
      
      <!-- Add a status if there isn't one -->
      <p>
        <% if @computer.status %>
          <% if @computer.status.scrapped %><strong>
            Computer has been <%= link_to "scrapped", status_path(@computer.status) %>.
          <% elsif @computer.status.sold %>
            Computer has been <%= link_to "sold", status_path(@computer.status) %>.
          <% else %>
            <%= link_to "Edit computer status", status_path(@computer.status) %>
          <% end %></strong>
        <% else %>
          <%= link_to "Add a status", new_status_path %><br>
        <% end %>
      </p>
      
      <!-- If there is an associated wipe, render wipes/_wipe partial-->
      <p>
        <% if @computer.wipe and @computer.wipe.action_taken.length > 0 %>
          <%= render @computer.wipe %><br>
          Reloaded Operating System: <%= link_to @computer.wipe.operating_system.os, operating_system_path(@computer.wipe.operating_system) %>
        <% else %>
          <%= link_to "Wipe this computer!", edit_computer_path(@computer) %>
        <% end %>
      </p>
      
      <!-- If the computer has been shipped, render shipments/_shipment partial -->
      <p>
        <% if @computer.shipment and @computer.shipment.shipped %>
          <%= render @computer.shipment %>
        <% else %>
          <%= link_to "Ship this computer!", new_shipment_path %>
        <% end %>
      </p>
      
      <!-- If the computer has been received, render shipments/_receipt partial -->
      <p>
        <% if @computer.receipt and @computer.receipt.received %>
          <%= render @computer.receipt %>
        <% else %>
          <%= link_to "Confirm this computer's arrival!", new_receipt_path %>
        <% end %>
      </p>
      
       <!-- If the computer has been decommissioned, render decommissions/_decommission partial -->
      <p>
        <% if @computer.decommission and @computer.decommission.decommissioned %>
          <%= render @computer.decommission %>
        <% else %>
          <%= link_to "Confirm this computer's decommission!", new_decommission_path %>
        <% end %>
      </p>
        
      <!-- To check that the computer and wipe id's are coming through. Comment out for production -->
      <!--Computer ID: <%#=  @computer.id %>, 
      <%# if @computer.wipe and @computer.wipe.action_taken.length > 0 %>
        Wipe ID: <%#= @computer.wipe.id %>, 
        Staff ID: <%#= @computer.wipe.staff.id %>, 
      <%# end %>
      Donor ID: <%#= @computer.donor.id %>
      Hub ID: <%#= @computer.hub.id %> -->
        
      Barcode: <%= raw @barcode_for_html.to_html %>
    </div>
    
    <h5>
      <%= link_to "Edit these Details", edit_computer_path(@computer), class: "btn btn-success" %>
      <% if current_user.admin? %>
        <%= link_to "Delete Computer", @computer, method: :delete, data: {confirm: "Delete this computer's details?" }, class: "btn btn-danger" %>
      <% end %>
      <%= link_to "Return to Index", computers_path, class: "btn btn-warning btn-small pull-right", style: "margin-left: 4px" %>
      <%= link_to "Return to Index Table", computertable_path, class: "btn btn-primary btn-small pull-right" %>
    </h5>
      
  </div>
</div>