<%= render "shared/page_title", title: "Thankyou for your donation to The Turing Trust" %>

<div class="row">
  <div class="col-md-12">
    <h3>Dear <%= @computer.donor.donor_name %>, </h3>
    
    <h3>Thank you for your generous donation to The Turing Trust. 
    Your unique donor ID is #<%= @computer.donor.id %>.</h3>
    
    <h3>Your computer's Turing Track reference ID is #<%= @computer.turingtrack %> 
    and its associated barcode is displayed below.</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= raw @barcode_for_html.to_html %>
  </div> 
</div>

<div class="row">
  <div class="col-md-12">
    <h3>A email will shortly be sent to the address you specified containing
    both your reference ID and barcode. When shipping your donation,
    please either print the email/barcode and place the copy somewhere inside 
    your package, or write your Turing Track no. on the package itself.</h3>

    <h3>This helps us to trace the journey of your computer over its new life, 
    so we can let you know exactly what impact it has had on the lives of aspiring
    technologists in schools in Ghana. While your donation might seem like old tech to you, it has the capability
    to change the lives of its recipients. So thank you once again, for contributing
    to those in need.</h3>

    <h3>Oli, Jade, & your team at The Turing Trust</h3>

    <br><h5>If you have any additional queries or questions, please don't hesitate to
    contact us at recycle@turingtrust.co.uk</h5>
  </div>
</div>