<%= render "shared/page_title", title: @type.department + " Staff" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Computers", computers_path %>
  </li>
  <li class="active">
    <%= link_to "Staff", staffs_path %>
  </li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= will_paginate @staffs %>
  </div>
</div>

<% @type.staffs.each do |staff| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 left">
      <p>
        <h5><strong><%= staff.staff_name %></strong>, contact at <%= staff.staff_email %>, department of <%= render staff.types %></h5>
      </p>
      <%= link_to "Go to Staff Profile", staff_path(staff) %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= will_paginate @staffs %>
  </div>
</div>
<!-- To come back to, as currently a department title is generated for each staff member -->