<%= render "shared/page_title", title: @type.department + " Staff" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Computers", computers_path %>
  </li>
  <li class="active">
    <%= link_to "Staff", staffs_path %>
  </li>
</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= will_paginate @staffs %>
  </div>
</div>

<% @type.staffs.each do |staff| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 left">
      <h5><strong><%= link_to staff.staff_name, staff_path(staff) %></strong>, contact at <%= staff.staff_email %>, department of <%= render staff.types %></h5>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <% if logged_in? and current_user.admin? %>
      <br>
      <%= link_to "Delete Department", @type, method: :delete, data: {confirm: "Delete this department?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= will_paginate @staffs %>
  </div>
</div>


<!-- To come back to, as currently a department title is generated for each staff member -->