<%= render "shared/page_title", title: "Stock Batch #" + @stock.id.to_s %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th># of Keyboards</th>
          <th># of Mice</th>
          <th># of Monitors</th>
          <th># of Printers</th>
          <th># of Speakers</th>
          <th># of VGA Cables</th>
          <th># of Kettle Leads</th>
          <th># of Routers</th>
          <th># of LAN Switches</th>
          <th>Created on</th>
          <th>Updated on</th></th>
          <th>Uploaded by</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @stock.keyboards %></td>
          <td><%= @stock.mice %></td>
          <td><%= @stock.monitors %></td>
          <td><%= @stock.printers %></td>
          <td><%= @stock.speakers %></td>
          <td><%= @stock.vga_cables %></td>
          <td><%= @stock.kettle_leads %></td>
          <td><%= @stock.routers %></td>
          <td><%= @stock.lan_switches %></td>
          <td><%= @stock.created_at.strftime("%d/%m/%y") %></td>
          <td><%= @stock.updated_at.strftime("%d/%m/%y") %></td>
          <td><%= link_to @stock.staff.staff_name, staff_path(@stock.staff)  %></td>
        </tr>
      </tbody>
    </table>
    
    <div class="center">
      <p>Note that when editing a batch, all fields are automatically set to zero and must be re-entered.</p>
    </div>
    
    <div class="center">
        <%= link_to "New batch", new_stock_path(@stock), class: "btn btn-primary" %>
        <%= link_to "Edit this batch", edit_stock_path(@stock), class: "btn btn-success" %>
      
      <% if current_user.admin? %>
        <%= link_to "Go To Stock Index", stocks_path, class: "btn btn-warning" %>
        <%= link_to "Delete this batch", @stock, method: :delete, data: {confirm: "Delete this batch?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
    
  </div>
</div>
