<%= render "shared/page_title", title: "Hub #" + @hub.id.to_s %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3><% @hub.hub_location.split(",").each do |line| %><%= line %><br><% end %></h3>
    <h3><% @hub.hub_fao.split(",").each do |line| %><%= line %><br><% end %></h3>
    <h3>Created at <%= @hub.created_at.strftime("%d/%m/%y") %>, Updated at <%= @hub.updated_at.strftime("%d/%m/%y") %></h3>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= link_to "New Hub", new_hub_path(@hub), class: "btn btn-primary" %>
    <%= link_to "Edit this Hub", edit_hub_path(@hub), class: "btn btn-success" %>
    <%= link_to "Go To Hub Index", hubs_path, class: "btn btn-warning" %>
    <%= link_to "Delete this Hub", @hub, method: :delete, data: {confirm: "Delete this Hub?" }, class: "btn btn-danger" %>
  </div>
</div>