<%= render 'shared/page_title', title: "Wipe a New Computer" %>

<%= render "shared/errors", obj: @wipe %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @wipe do |f| %>
    
      <%= f.label :computer_id, "Computer ID" %>
      <%= f.text_field :computer_id, :maxlength => 8, :placeholder => "1" %>
      <%= f.label :action_taken %>
      <%= f.text_area :action_taken %>

      <%= f.submit "Submit Details", class: "btn btn-success" %>
    <% end %>
  </div>
</div>