<%= render "shared/page_title", title: "Sent Stock Batch #" + @sent_stock.id.to_s %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Batch Name</th>
          <th># of Keyboards</th>
          <th># of Mice</th>
          <th># of Monitors</th>
          <th># of Printers</th>
          <th># of Speakers</th>
          <th># of VGA Cables</th>
          <th># of Kettle Leads</th>
          <th># of Routers</th>
          <th># of LAN Switches</th>
          <th>Created on</th>
          <th>Updated on</th></th>
          <th>Uploaded by</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @sent_stock.sent_batch_name %></td>
          <td><%= @sent_stock.sent_keyboards %></td>
          <td><%= @sent_stock.sent_mice %></td>
          <td><%= @sent_stock.sent_monitors %></td>
          <td><%= @sent_stock.sent_printers %></td>
          <td><%= @sent_stock.sent_speakers %></td>
          <td><%= @sent_stock.sent_vga_cables %></td>
          <td><%= @sent_stock.sent_kettle_leads %></td>
          <td><%= @sent_stock.sent_routers%></td>
          <td><%= @sent_stock.sent_lan_switches %></td>
          <td><%= @sent_stock.created_at.strftime("%d/%m/%y") %></td>
          <td><%= @sent_stock.updated_at.strftime("%d/%m/%y") %></td>
          <td><%= link_to @sent_stock.staff.staff_name, staff_path(@sent_stock.staff)  %></td>
        </tr>
      </tbody>
    </table>
    
    <div class="center">
      <p>Note that when editing a batch, all fields are automatically set to zero and must be re-entered.</p>
    </div>
    
    <div class="center">
        <%= link_to "New batch", new_sent_stock_path(@sent_stock), class: "btn btn-primary" %>
        <%= link_to "Edit this batch", edit_sent_stock_path(@sent_stock), class: "btn btn-success" %>
      
      <% if current_user.admin? %>
        <%= link_to "Go To Stock Index", stocks_path, class: "btn btn-warning" %>
        <%= link_to "Delete this batch", @sent_stock, method: :delete, data: {confirm: "Delete this batch?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
    
  </div>
</div>
