<%= render "shared/page_title", title: "Receipt Index" %>

<!-- Search bar -->
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= form_tag(receipts_path, :method => "get", id: "search-form") do %>
      <%= label_tag :search, "Search by TuringTrack or School" %>
      <%= text_field_tag :search, params[:search], placeholder: "10000001" %>
      <strong><%= submit_tag "Search" %></strong>
    <% end %>
  </div>
</div>
<hr>

<!-- Index Table -->
<% if @receipts.present? %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>TuringTrack</th>
          <th>Received</th>
          <th>Receipt ID</th>
          <th>Received by</th>
          <th>Receipt Date</th>
          <th>Date Edited </th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        <% @receipts.each do |receipt| %>
          <tr>
            <td><%= link_to "#" + receipt.computer.turingtrack, computer_path(receipt.computer) %></td>
            <td><% if receipt.received %> Yes <% else %> No <% end %></td>
            <td><%= link_to "#" + receipt.id.to_s, receipt_path(receipt) %></td>
            <td><%= link_to receipt.staff.staff_name, staff_path(receipt.staff) %></td>
            <td><%= receipt.created_at.strftime("%d/%m/%y") %></td>
            <td><%= receipt.updated_at.strftime("%d/%m/%y") %></td>
            <td><%= receipt.school %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  </div>
</div>

<!-- Warning for empty search results -->
<% else %>

<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <h4>There are no records containing the term: <%= params[:search] %></h4>
  </div>
</div>
<hr>
  
<% end %>

<!-- Refresh Index --> 
<div class="row">
  <div class="col-md-2 col-md-offset-5 center">
     <%= link_to "Return to Receipts Index", receipts_path, class: "btn btn-warning btn-small" %>
  </div>
</div>