<%= render "shared/page_title", title: "Shipment Index" %>

<!-- Search bar -->
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= form_tag(shipments_path, :method => "get", id: "search-form") do %>
      <%= label_tag :search, "Search by TuringTrack" %>
      <%= text_field_tag :search, params[:search], placeholder: "10000001" %>
      <strong><%= submit_tag "Search" %></strong>
    <% end %>
  </div>
</div>
<hr>

<!-- Index Table -->
<% if @shipments.present? %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>TuringTrack</th>
          <th>Shipped</th>
          <th>Shipping ID</th>
          <th>Shipped by</th>
          <th>Shipping Date</th>
          <th>Date Edited </th>
        </tr>
      </thead>
      <tbody>
        <% @shipments.each do |shipment| %>
          <tr>
            <td><%= link_to "#" + shipment.computer.turingtrack, computer_path(shipment.computer) %></td>
            <td><% if shipment.shipped %> Yes <% else %> No <% end %></td>
            <td><%= link_to "#" + shipment.id.to_s, shipment_path(shipment) %></td>
            <td><%= link_to shipment.staff.staff_name, staff_path(shipment.staff) %></td>
            <td><%= shipment.created_at.strftime("%d/%m/%y") %></td>
            <td><%= shipment.updated_at.strftime("%d/%m/%y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div class="center"><%= will_paginate %></div>
  </div>
</div>

<!-- Warning for empty search results -->
<% else %>

<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <h4>There are no records containing the term: <%= params[:search] %></h4>
  </div>
</div>
<hr>
  
<% end %>

<!-- Refresh Index --> 
<div class="row">
  <div class="col-md-2 col-md-offset-5 center">
     <%= link_to "Return to Shipment Index", shipments_path, class: "btn btn-primary" %>
  </div>
</div>