<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    
    <%= link_to "The Turing Trust", root_path , class: "btn btn-lg btn-success nav_styling", id: "logo" %>
    
    <!-- Only allows logged in users to follow the ne computer link -->
    <% if logged_in? %>
    
      <ul class="nav_ul_item">
        <li class="dropdown">
          <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
            Computers <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Computer Index", computers_path %></li>
            <li><%= link_to "Computer Table", computertable_path %></li>
            <li><%= link_to "Download Data", dataoutput_path %></li>
            <li class='divider'></li>
            <li><%= link_to "New Computer", new_computer_path %></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav_ul_item">
        <li class="dropdown">
          <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
            Shipments <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Shipment Index", shipments_path %></li>
            <li class='divider'></li>
            <li><%= link_to "New Shipment", new_shipment_path %></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav_ul_item">
        <li class="dropdown">
          <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
            Receipts <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Receipt Index", receipts_path %></li>
            <li class='divider'></li>
            <li><%= link_to "New Receipt", new_receipt_path %></li>
          </ul>
        </li>
      </ul>
      
      <% if current_user.admin? %>
        <ul class="nav_ul_item">
          <li class="dropdown">
            <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
              Stock <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Stock Index", stocks_path %></li>
              <li><%= link_to "Download Data", stockoutput_path %></li>
              <li class='divider'></li>
              <li><%= link_to "New Stock Received", new_stock_path %></li>
              <li><%= link_to "New Sent Confirmation", new_sent_stock_path %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    
      <% if current_user.admin? %>
        <ul class="nav_ul_item">
          <li class="dropdown">
            <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
              Staff <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Staff Index", staffs_path %></li>
              <% Type.all.each do |type| %>
                <li><%= link_to type.department, type_path(type) %></li>
              <% end %>
              <li class='divider'></li>
              <li><%= link_to "New Staff Member", register_path %></li>
              <li>
                <%= link_to(new_type_path) do %>
                  New Department
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      <% end%>
      
      <% if current_user.admin? %>
        <ul class="nav_ul_item">
          <li class="dropdown">
            <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
              Donors <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Donor Index", donors_path %></li>
              <li><%= link_to "Mailing List", mailinglist_path %></li>
            </ul>
          </li>
        </ul>
      <% end %>  
      
    <!-- Creates drop down and pulls Log In and Log Out to RHS --> 
      
      <ul class="nav_item_right navbar-right">
        <li class="dropdown">
          
          <%= link_to '#', class: "btn btn-default nav_styling dropdown-toggle", "data-toggle" => "dropdown" do %>
            <%= current_user.staff_name %> <b class="caret"></b>
          <% end %>
          
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", staff_path(current_user) %></li>
            <li><%= link_to "Edit Profile", edit_staff_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", logout_path %></li>
          </ul>
        </li>
      </ul>
      
    <!-- Else if not logged in display login option on navbar --> 
    <% else %>
    
      <div class="nav_item_right navbar-right">
        <%= link_to "Log In", login_path , class: "btn btn-default nav_styling" %>
      </div>
      
    <% end %>
  
  </div>
</header>